{% extends "base.html" %}
{%load static%}
{% block header %}
<title>Trippp -ログイン-</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form class="content__form" action="" method="POST">
  <div class="content__form__wrapper">
    <div class="card-body">
      {{ form.non_field_errors }}
        {% for field in form %}
          {{field.label}}:<br>
          {{ field }}
          {{ field.errors }}<br><br>
      {% endfor %}
      <button type="submit" class="submit_button" >ログイン</button>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}

    </div>
  </div>
</form>
<div class="content__register">
  <h2>旅を残す準備は整っていますか？</h2>
  Tripppにあなたのたびろぐを残すには会員登録が必要です。下記のリンクより登録手続きをしてください。<br>
  <a href="{% url 'account:user_create' %}"  >会員登録</a><br>
  <h2>パスワードをお忘れですか？</h2>
  パスワード変更手続きは<a href="">こちら</a>
</div>
{% endblock %}
