/*
	Basis CSS of Trippp.
	It was created by Naoto Miyakawa.
	Since 2017.11
*/

/*Global CSS*/
@font-face {
	font-family: 'Trippp_font';
	src: url(/static/font/Parisienne-Regular.ttf);
}
* {
  box-sizing: border-box;
}

#trippp{
  font-size: 10px;
  height: 100%;
	overflow-x: hidden;
}

#trippp h1{
	background-color: #fbfbfb;
	width:100%;
	font-weight: normal;
}
#trippp h2{
	border-left:solid 3px #55ccff;
	font-weight: normal;
	padding-left:1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:40px;
	background-color: #fbfbfb;
}
.nodeclink{
	text-decoration: none;
}
#root{
  margin:0;
  padding-top:70px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
	max-width: 100%;
  font-size: 1.8rem;
	letter-spacing: 0.02rem;
	line-height: 1.42857;
  background-color: #f5f5f5;
}

/*Global CSS*/

/*Header CSS description*/

.root__header{
  position:fixed;
  z-index: 100;
  top:0;
  left:0;
  width:100%;
  height:auto;
  border-bottom: solid 1px #aaa;
	display: flex;
	justify-content: center;
  background-color: #fefefe;
}
.header{
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 100px;
  width:100%;
  height:70px;
  color:#010101;
}

.header__logo{
	font-size: 4.0rem;
  text-decoration: none;
  font-family: 'Trippp_font';
  color:#000;
}
.header__logo:hover{
  color:#55ccff !important;
}
.header__menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:auto;
	height: 2.0rem;
}
.sp-menu,.sp-menu__list{
  display: none;
}

.header__menu-list{
	font-size: 2.1rem;
  margin-left:4rem;
  text-decoration: none;
  color:#000 !important;
	position: relative;
}
.header__menu-list::after{
	background-color: #55ccff;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: .3s all;
  width: 0;
}
.header__menu-list:hover:after{
  width: 100%;
}

/*Header CSS description*/

/*Content CSS description*/
.root__content{
  padding:10px 0;
  width:100%;
  flex:1;
	background-color: white;
}
.content{
  color:#010101;
  width:1200px;
	padding:10px;
  padding:0;
	margin: 0 auto;
  background-color: none;
	font-size: 1.8rem;
	line-height: 180%;
}

/*Content CSS description*/

/*Footer CSS description*/

.footer{
	width:100%;
	height:300px;
	display: flex;
	justify-content: center;
	background: #333;
}
.footer-inner{
	width:1200px;
	flex: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #fefefe;
}
.footer__left{
	width:66.6%;
	flex: none;
	height:240px;
	padding-top:30px;
}
.footer__right{
	width:33.3%;
	flex: none;
	height:240px;
	padding-top:30px;
}
.footer__snsfield{
	width:100%;
	height:auto;
	margin-bottom: 10px;
	font-weight: bold;
	display: flex;
	justify-content: left;
}
.footer__sns-icon{
	margin-right: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	font-size: 2.4rem;
}
.footer__itemfield{
	display: flex;
	flex-direction: column;
	align-items: right;
	flex-wrap: wrap;
	width: 100%;
	height:70px;
	margin-top: 30px;
}

.footer__itemfield-links{
	max-width: 50%;
	font-size: 1.6rem;
	margin-bottom: 10px;
	color: white;
}
.footer__itemfield-links:before{
	content: "・";
}
.footer__titlefield{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
}
.footer__description{
	margin-top:30px;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
}
.footer__logo{
	margin-top: 30px;
	flex: none;
	width:100%;
	height: 50px;
}
.footer__logo-inner{
	display: flex;
	margin:0 auto;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	width:50%;
	height:100%;
	color:#010101;
	background-color: white;
	font-family: 'trippp_font';
	font-size: 4rem;
}
.footer__copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	height: 20px;
	width: 100%;
	border-top: dotted 2px gray;
}

/*Footer CSS description*/

@media(max-width:1300px){
	.content{
		width:850px;
	}
	.header__menu-list{
		font-size: 1.8rem;
		margin:0;
		margin-left:2rem;
	}

	.footer-inner{
		width:850px;
	}
}

/*Smart phone CSS*/
@media(max-width:900px){

  #root{
    margin:0;
    padding-top:50px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    min-height: 100%;
    font-size: 1.3rem;
  }

  .header{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
		justify-content: center;
		padding:0 10px;
    width:100%;
    height:50px;
    color:#010101;
    background-color: #fefefe;
  }


  .header__logo{
    text-decoration: none;
    font-family: 'Trippp_font';
    color:#000;
  }
  .header__title__logo:hover{
    color:#55ccff !important;
  }

  .header__menu-list{
    display: none;
  }
  .sp-menu{
    position:absolute;
    top:0;
    right:0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    padding:3px;
    z-index: 101;
    color:#010101;
    font-size: 2.5rem;
    font-weight: lighter;
    cursor: pointer;
  }
	.sp-menu__list{
		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
		align-items: flex-end;
    z-index: 200;
    position:fixed;
    top:50px;
    right:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0);
    font-size: 2rem;
		transform-origin: right;
		transform:rotateY(90deg);
		transition: all 0.3s ease-out;
  }
	.list__area{
		width:50%;
		height:100%;
		background-color:#333;
		opacity: 0.9;
		z-index: 201;
	}
  .sp-menu__list.is_sp-active{
		transform-origin: right;
		transform:rotateY(0deg);
		transition: all 0.3s ease-out;
  }
  .sp-menu__list__item{
    display:block;
    color:#fefefe !important;
    min-height:3rem;
    width:100%;
    text-align: center;
    padding:0.5rem 0;
  }
  .header__menu-list:hover{
    margin-bottom: -3px;
    border-bottom:solid 3px #ffcc55;
  }


  .root__content{
    width:100%;
    height:auto;
    flex:1;
  }
  .content{
    color:#010101;
    width:90%;
    background-color: #fefefe;
		font-size: 1.6rem;
		line-height: 1.5;
		letter-spacing: 1px;
  }

	.footer{
		width:100%;
		height:570px;
		display: flex;
		justify-content: center;
		background: #333;
	}
	.footer-inner{
		width:90%;
		flex: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		color: #fefefe;
	}
	.footer__left{
		width:100%;
		flex: none;
		height:250px;
		padding-top:30px;
	}
	.footer__right{
		width:100%;
		flex: none;
		height:260px;
		padding-top:30px;
		border-top: dotted 2px gray;
	}
	.footer__snsfield{
		width:100%;
		height:auto;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 2rem;
		display: flex;
		justify-content: center;

	}
	.footer__sns-icon{
		margin-right: 12px;
		margin-left: 12px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #333;
		font-size: 2.4rem;
	}
	.footer__itemfield{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		height:auto;
		margin-top: 30px;
	}

	.footer__itemfield-links{
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.footer__itemfield-links:before{
		content: "・";
	}
	.footer__titlefield{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: bold;
	}
	.footer__description{
		width:100%;
		margin-top:30px;
		display: flex;
		justify-content: center;
	}
	.footer__logo{
		margin-top: 30px;
		flex: none;
		width:100%;
		height: 50px;
	}
	.footer__logo-inner{
		display: flex;
		margin:0 auto;
		justify-content: center;
		border-radius: 10px;
		align-items: center;
		width:50%;
		height:100%;
		color:#010101;
		background-color: white;
		font-family: 'trippp_font';
		font-size: 4rem;
	}
	.footer__copyright{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;
		height: 20px;
		width: 100%;
		border-top: dotted 2px gray;
	}

}
/*Smart phone CSS*/
