.content__list{
  display: flex;
  flex-direction:column;

}

.tabilog-card{
  width:100%;
  height:auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:10px;
  text-decoration: none;
  color: #010101;
}
.tabilog-card:hover{
  opacity: 0.7;
}
.tabilog-card__thumbanail{
  flex: none;
  height: 100px;
  width: 100px;
  border: solid 1px gray ;
  margin-right: 20px;
}
.tabilog-card__description{

}
.content__list{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;

}
