.content__pubdate{
  width:100%;
  text-align: right;
}
.root__content{
  background: none;
}
.content{
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.content__body{
  width:800px;
  background-color: white;
  margin-right:10px;
  flex: none;
  padding:2rem;
}
.content__side-wrap{
  position: absolute;
  top:0;
  right:390px;
}
.content__side{
  position: fixed;
  width:390px;
  height:auto;
  background-color: white;
  flex:none;
}
.index{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.index__items{
  color: #010101;
}
.index__items:hover{
  color: gray;
}
.lazyload,.lazyloaded{
  max-width:100%;
  height:auto;
}
@media(max-width:900px){
  .root__content{
  }
  .content__pubdate{
    margin-bottom:50px;
  }
  .content{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .content__body{
    width:100%;
    background-color: white;
    margin-right:10px;
    flex: none;
    padding:2rem;
  }
  .content__side-wrap{
    position: static;
    width:100%;
  }
  .content__side{
    display:none;
    position: static;
    width:100%;
    height:auto;
    background-color: white;
    flex:none;
  }
}
