{% extends "company/base_biz.html" %}
{% load static %}
{% load widget_tweaks %}
{% block header %}
<title>Trippp -お問い合わせページ-</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
<script type="text/javascript" src="{% static 'js/post.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="content__verbose">
      お名前とメールアドレス、お問い合わせ内容をご記入の上フォームから送信してください。担当者より数日以内にご連絡差し上げます。<br>
    </div>

    <form class="content__form" action="" method="post">
      {% csrf_token %}
        <label class="label">{{form.name.label}}</label>
        {{form.name|add_class:"short-form"}}
        <label class="label">{{form.mail.label}}</label>
        {{form.mail|add_class:"short-form"}}
        <label class="label">{{form.query.label}}</label>
        {{form.query|add_class:"long-form"}}
        
        <div class="form__buttons buttons__green js_modify is_active">修正する</div>
        <button type='submit' class="form__buttons buttons__blue js_send is_active" name='action' value='send'>送信</button>
        <div class="form__buttons buttons__red js_confirm">確認</div>
    </form>

{% endblock %}
