{% load static %}
<!doctype html>
<html lang="ja" id="trippp">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/menu.js' %}"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  {% block header %}
  {% endblock %}
</head>
<body id="root">
  <div class="root__header">
    <div class="header">
      <a href="/"class="header__logo">Trippp</a>
      <div class="header__menu">
        <a class="header__menu-list nodeclink" href="/tabilog/">記事閲覧</a>
      {% if user.is_authenticated %}
        <a class="header__menu-list nodeclink" href="{% url 'account:mypage' user.pk %}">マイページ</a>
        <a class="header__menu-list nodeclink" href="/tabilog/post">投稿する</a>
        <a class="header__menu-list nodeclink" href="{% url 'account:logout' %}">ログアウト</a>
      {% else %}
        <a class="header__menu-list nodeclink" href="{% url 'account:login' %}">ログイン</a>
      {% endif %}
        <div class="sp-menu">
          <i class="fas fa-bars"></i>
        </div>
    </div>
    </div>
  </div>
  <div class="sp-menu__list">
    <div class="list__area">
      <a class="sp-menu__list__item nodeclink" href="/tabilog/">記事閲覧</a>
      {% if user.is_authenticated %}
        <a class="sp-menu__list__item nodeclink" href="{% url 'account:mypage' user.pk %}">マイページ</a>
        <a class="sp-menu__list__item nodeclink" href="/tabilog/post">投稿する</a>
        <a class="sp-menu__list__item nodeclink" href="{% url 'account:logout' %}">ログアウト</a>
      {% else %}
        <a class="sp-menu__list__item nodeclink" href="{% url 'account:login' %}">ログイン</a>
      {% endif %}
    </div>
  </div>
  {% block topimage %}{% endblock %}
  <div class="root__content">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <div class="footer">
    <div class="footer-inner">
      <div class="footer__left">
        <div class="footer__snsfield">
          <a class="footer__sns-icon nodeclink" href="">
						<i class="fab fa-line"></i>
					</a>
					<a class="footer__sns-icon nodeclink" href="">
						<i class="fab fa-facebook"></i>
					</a>
					<a class="footer__sns-icon nodeclink" href="">
						<i class="fab fa-twitter"></i>
    		  </a>
        </div>

        <div class="footer__itemfield">
          <a class="footer__itemfield-links nodeclink" href="/docs/2">Trippp-Web-Serviceについて</a>
          <a class="footer__itemfield-links nodeclink" href="/docs/3">ヘルプ</a>
          <a class="footer__itemfield-links nodeclink" href="/docs/1">個人情報保護方針</a>
          {% if user.is_authenticated %}
            <a class="footer__itemfield-links nodeclink" href="/account/user_delete">退会する</a>
          {% endif %}
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__titlefield">
          連絡先
        </div>
        <div class="footer__description">
          TEL:090-9294-0168<br>
          Mail:nullpoir0805@gmail.com<br>
        </div>
        <div class="footer__logo">
          <div class="footer__logo-inner">
          Trippp
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        © Trippp Since 2018.4.10
      </div>
    </div>
  </div>

</body>
</html>
