{% extends "base.html" %}
{% load static %}

{% block header %}
<title>Trippp -自分が投稿したたびろぐリスト-</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/post_history.css' %}">
{% endblock %}

{% block content %}
<div class="content__wrapper__content">
  <div class="content__list">
  {% for list in lists %}
    <div class="list__items">
      <div class="items-left">
        {{list.pub_date}}投稿<br>タイトル:<br>
        <a href="/tabilog/articles/{{ list.pk }}">{{ list.title}}</a>
      </div>
      <div class="items-right">
        <a class="items-delete" href="/tabilog/delete_confirm/{{list.user_pk}}/{{ list.pk }}"><i class="fas fa-eraser"></i></a>
        <a class="items-edit" href="/tabilog/edit/{{list.user_pk}}/{{ list.pk }}"><i class="fas fa-pencil-alt"></i></i></a>
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="content__pagination">
      <span class="pagination__step-links">
          {% if lists.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ lists.previous_page_number }}">previous</a>
          {% endif %}

          <span class="pagination_current">
              Page {{ lists.number }} of {{ lists.paginator.num_pages }}.
          </span>

          {% if lists.has_next %}
              <a href="?page={{ lists.next_page_number }}">next</a>
              <a href="?page={{ lists.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock %}
