{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block header %}
<title>Trippp -記事投稿-</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/postform.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.4/lazysizes.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.4/plugins/object-fit/ls.object-fit.min.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}

<div class="content__verbose">
  投稿画面<br>
</div>

<form class="content__form" action="" method="post">
  {% csrf_token %}
    <label class="label">{{form.title.label}}</label>
    {{form.title|add_class:"short-form"}}
    <label class="label">{{form.body.label}}</label>
    {{form.body|add_class:"long-form"}}
    <button type='submit' class="form__buttons buttons__red" name='action' value='confirm'>確認</button>
</form>

{% endblock %}
